.wc_bookings_calendar.wc_bookings_calendar_weekly tbody td {
    text-align: initial;
    padding: 0.25em;
}

.wc_bookings_calendar.wc_bookings_calendar_weekly tbody td a.product::before {
    content: '\270e\00a0'; /* LOWER RIGHT PENCIL + NO-BREAK SPACE */
}

.wc_bookings_calendar_weekly caption {
    font-size: 2em;
    line-height: 2em;
}

.wc_bookings_calendar_form .tablenav .views a {
    display: inline-block;
}

.wc_bookings_calendar_form .tablenav .views a.new-booking::before {
    content: '\ff0b'; /* FULLWIDTH PLUS SIGN */
}

table.wc_bookings_calendar_weekly td.booked,
ul.drivers li {
    background-color: hsla(0, 0%, 50%, 0.25);
}

ul.drivers li {
    width: auto;
    width: content-min;
    display: inline-block;
    margin: 0.25em 1em;
    padding: 0.25em 1em;
    line-height: 1.6em;
    cursor: move;
}

ul.drivers li:before {
    content:'\2630';
    margin: 0.25em 1em 0.25em -0.5em;
}
