.wc_bookings_calendar.wc_bookings_calendar_weekly tbody td {
    text-align: initial;
    padding: 0.25em;
}

.wc_bookings_calendar.wc_bookings_calendar_weekly tbody td a.product::before {
    content: '\270e\00a0'; /* LOWER RIGHT PENCIL + NO-BREAK SPACE */
}

.wc_bookings_calendar_weekly caption {
    font-size: 2em;
    line-height: 2em;
}

.wc_bookings_calendar_form .tablenav .views a {
    display: inline-block;
}

.wc_bookings_calendar_form .tablenav .views a.new-booking::before {
    content: '\ff0b'; /* FULLWIDTH PLUS SIGN */
}

table.wc_bookings_calendar_weekly td.booked {
    background-color: hsl(0, 0%, 90%);
    border: hsl(0, 0%, 75%) solid 1px;
}

.booking {
    white-space: nowrap;
}

.booking .driver,
.drivers li {
    margin: 1em;
    padding: 0.25em 1em 0.25em 0.5em;
    line-height: 1.6em;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.125em;
    background-color: hsl(0, 0%, 75%);
    border-color: hsl(0, 0%, 50%);
}

.booking .driver {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5em;
}

.drivers li {
    cursor: move;
}

.booking .driver::before {
    content:'\274e\2003';
}

.drivers li:before {
    content:'\2630\2003';
}

.drivers::before {
    content: "\2630\2003 Drivers";
    margin: -0.5em -1em 1em;
    padding: 0.25em 2em 0.25em;
    font-weight: bold;
    display: block;
    cursor: move;
    border-bottom: 0.125em hsl(0, 0%, 75%) solid;
}

.drivers::after {
    content: "Move me around";
    margin: 0.5em -1em -0.5em;
    padding: 0.25em 2em 0.25em;
    display: block;
}

.drivers {
    position: fixed;
    bottom: 3em;
    right: 2em;
    display: inline-block;
    background: white;
    border: 0.125em hsl(0, 0%, 75%) solid;
    border-radius: 0.25em;
    margin: 1em;
    padding: 1em;
    line-height: 1.6em;
}
